@media all and (min-width: 701px) and (max-width: 1000px) {

:root {
  --content-padding: 24px;
}


/******************************* Layout Styles ********************************/


#header .title {
	margin-bottom: 0.2em;
	float: left;
}
#content {
	padding-top: 3em;
}
.front-and-center {
	margin-top: 2.5em;
	margin-bottom: 5.5em;
}
.front-and-center.welcome {
  padding-top: 7em;
  padding-bottom: 7em;
}


/******************************* Content Styles *******************************/



article p {
	text-align: justify;
}

/* Columnar elements and widgets */
.columnar {
  width: calc(50% - 1.5em);
  padding: 0;
}
.columnar:nth-child(odd) {
	float: left;
}
.columnar:nth-child(even) {
	float: right;
}
.columnar p {
	text-align: left;
}

/* Project list */
.project-list li {
  width: calc(50% - var(--content-padding) / 2);
}
.project-list li:hover {
  transform: scale(1.05);
}



/****************************** Navigation Styles *****************************/


}
