@media all and (max-width: 700px) {



/* Basic page layout rules */
#page {
	padding-right: 24px;
	padding-left: 24px;
	max-width: 100%;
	overflow: hidden;
}


/* Header elements rules */
#header {
  flex-direction: column;
  align-items: center;
  justify-content: normal;
}
#header .title {
	margin: 0 0 0.5em 0;
	text-align: center;
}

#content {
	margin-top: 2em;
}

/* Home welcome message */
.front-and-center {
	margin-top: 2em;
	margin-bottom: 4em;
}


/******************************* Content Styles *******************************/


/* Project list */
.project-list {
	margin-top: 2em;
}
.project-list li {
	margin-left: auto;
	margin-right: auto;
	max-width: 565px;
}

.document h1 {
	padding-bottom: 0em;
	border-bottom: none;
	margin-bottom: 0.5em;
}



/****************************** Navigation Styles *****************************/

/* Footer elements rules */
#footer nav.social {
  flex-direction: column;
  align-items: stretch;
}
#footer nav.social ul {
  flex-direction: column;
}

/******************************** Special Cases *******************************/

.front-and-center.error h1 {
	font-size: 3em;
}



}
