/* Override defaults for html and body tags */
html, body {
	display: block;
	margin: 0;
	padding: 0;
}
/* Declares support for light and dark theme, and enables the light-dark() function */
:root {
  color-scheme: light dark;
  --divider-color: #AAAAAA;
  --text-color: light-dark(#555555, #EEEEEE);
  --highlighted-text-color: light-dark(#000000, #FFFFFF);
  --welcome-text-color: #FFFFFF;
  --content-padding: 36px;
  --content-max-width: 1200px;
}


/* Define the typeface for the page */
html {
	font-size: 62.5%
}
body {
	font-size: 1.4rem;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	color: var(--text-color)
}
h1 {
	font-size: 1.5em;
}
h2 {
	font-size: 1.25em;
}
strong {
  font-weight: bold;
}

/* Some link customizations */
a, a:visited {
	color: var(--text-color);
	text-decoration: underline;
}
a:hover, a:focus, a:active {
	color: var(--highlighted-text-color);
}
a:hover, a:active {
	text-decoration: none;
}
a i.fa-external-link {
	margin-left: 0.5em;
	font-size: 0.75em;
}



/* Basic page layout rules */
#page, #header, #content, #footer {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
}
#page {
  display: block;
}
#header, #content > *, #footer {
  max-width: var(--content-max-width);
  margin-inline: auto;
  padding-inline: var(--content-padding);
}
#header {
	padding-top: 24px;
	min-height: 75px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-between;
}
#content {
	min-height: 33em;
}
#footer {
	margin-top: 20px;
	padding-top: 0;
	padding-bottom: 50px;
	min-height: 50px;
}



/* Basic page design rules */
#footer {
	overflow: hidden;
	font-size: 1.4rem;
}
#footer:before { /* A fake HR at the top of the footer */
  content: ' ';
  display: block;
  font-size: 0;
  height: 1px;
  background: var(--divider-color);
  margin-bottom: 40px;
}
#footer .copyright {
	margin-bottom: 1em;
}
hr {
	display: block;
	margin: 1em 0;
	height: 1px;
	border: none;
	background: var(--divider-color);
}
#content > hr {
  /* margin-inline needs to be auto in order to center it properly, so we have to limit its size by calculating a width. */
  width: calc(100% - var(--content-padding) * 2);
  padding-inline: 0;
}


/* Header elements rules */
#header .title {
	display: block;
	margin: 0;
	padding: 0;

	font-size: 2.4em;
	font-weight: 600;
	font-style: italic;
	color: #333333;
}
#header .title a {
	text-decoration: none;
}
#header .profile-picture {
	height: 2em;
	margin: 0 0.25em -0.54em 0;
	border-radius: 100%;
	box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.4);
}


/******************************* Content Styles *******************************/

/* Article styles */
article {
	font-size: 1.4rem;
}
article p, article p a, article p a:visited {
	color: var(--highlighted-text-color);
}
article p {
  font-size: 1.6rem;
	line-height: 1.6em;
}
article p i.fa-solid:before {
  font-size: 0.70em;
}
article p a i.fa-up-right-from-square:before {
  margin-left: 0.33em;
}

article h1, article h2, article h3 {
  clear: both;
}
article h1 {
	margin-top: 3em;
}
article h2 {
	font-size: 1em;
	margin-top: 3em;
}

article figure {
	display: block;
	margin: 1em 0;
}
article figure.left {
	float: left;
	margin: 0.5em 0.5em 0.5em 0;
}
article figure.right {
	float: right;
	margin: 0.5em 0 0.5em 0.5em;
}

article img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
article img.right, article img.left {
    display: block;
    max-width: 35%;
    margin: 1em;
}
article img.right {
    float: right;
    margin-right: 0em;
}
article img.left {
    float: left;
    margin-left: 0em;
}
article img.top {
    margin-top: 0em;
}
article img.bottom {
    margin-bottom: 0em;
}

article footer {
	margin-top: 2em;
	text-align: right;
	font-size: 0.85em;
}

/* Document styles */
.document {
	display: block;
	margin: 2em auto;
	max-width: 60em;
}
.document h1 {
	margin-top: 2em;
	text-transform: uppercase;
	padding-bottom: 0.5em;
	border-bottom: 1px solid var(--divider-color);
}
.document .subtitle {
	text-transform: uppercase;
	font-weight: normal;
	padding-left: 0.5em;
}
.document li {
	line-height: 1.75em;
}
.document strong {
	color: #888;
}

/* Info boxes */
.info {
	display: block;
	margin: 0 auto 20px;
	padding: 0;
}


.button-row {
	display: block;
	margin: 0;
	text-align: center;
}

/* Front-and-center box */
.front-and-center {
	display: block;
	margin: 10em auto;
	max-width: 50em;
	text-align: center;
}
.front-and-center h1 {
	margin: 0;
	font-size: 4em;
	font-weight: 700;
	text-align: center;
}
.front-and-center p {
	text-align: center;
	font-size: 1.4em;
}

/* Home welcome message */
.welcome h1 {
	font-family: "Tangerine", cursive;
	font-size: 6em;
	font-weight: 700;
}
.front-and-center.welcome {
  margin: 0 auto;
  padding: 10em 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/prague.jpg") center;
  background-size: cover;
  box-shadow: inset 0px 20px 20px -10px rgba(0, 0, 0, 0.5),
              inset 0px -20px 20px -10px rgba(0, 0, 0, 0.5);
  color: var(--welcome-text-color);
}
#content > .front-and-center.welcome {
  max-width: unset;
}
.front-and-center.welcome p {
  color: var(--welcome-text-color);
  text-shadow: 0 0 7px rgba(0, 0, 0, 1);
  font-weight: 600;
}

/* Project list */
.project-list {
	padding: 0;
  margin: 0 0 3em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 50%;
  justify-content: space-between;
  gap: var(--content-padding);
}
.project-list li {
	display: block;
	position: relative;
	padding: 0;
  margin: 0;
  transition: transform 300ms ease-out;
}
.project-list li .thumbnail {
	display: block;
	width: 100%;
	box-shadow: 0 8px 20px 5px rgba(0, 0, 0, 0.5);
}
.project-list li h2 {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
	bottom: 0.25em;
	left: 0.5em;
	right: 0;
	font-size: 26px;
	font-weight: bold;
	color: #EFEFEF;
	text-shadow: 0 0 0.3em rgba(0, 0, 0, 1);
}

/* Miscellaneous */
.timestamp {
	font-weight: bold;
}


/****************************** Navigation Styles *****************************/

/* Social nav rules */
nav.social {
	display: inline-flex;
	margin: 0;
	padding: 0;
	font-size: 2rem;
  flex-direction: row;
}
#footer nav.social {
  float: right;
  margin-left: 1em;
}
nav.social ul {
	display: inline-flex;
	list-style: none;
	margin: 0;
	padding: 0;
  overflow: hidden;
}
nav.social li {
	display: block;
	margin: 0;
	padding: 0.4em;
}
nav.social a {
  display: block;
	color: inherit;
	text-decoration: none;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
nav.social a:hover,
nav.social a:active,
nav.social a:focus {
	color: var(--highlighted-text-color);
}
nav.social .icon {
	display: inline-block;
	margin-right: 0.4em;
	height: 1em;
	width: 1.2em;
	text-align: center;
}



/* Simple nav rules */
nav.simple {
	display: block;
	margin: 0.5em 0;
	padding: 0;
	font-size: 1em;
}
nav.simple ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}
nav.simple li {
	display: inline;
}
nav.simple a {
	color: inherit;
	text-decoration: underline;
}
nav.simple a:hover,
nav.simple a:active {
	text-decoration: none;
}
nav.simple li:before {
	content: "|";
	display: inline-block;
	margin: 0 0.5em;
}
nav.simple li:first-of-type:before {
	display: none;
}


/******************************** Special Cases *******************************/


.front-and-center.error h1 {
	font-size: 4em;
}

a.download.independent {
	display: inline-block;
	background: rgb(118,60,255);
	padding: 1em 2em 1.15em;
	margin: 1.5em auto;
	border-radius: 3px;
	box-shadow: 0 -0.35em 0 0 rgba(0,0,0,0.35) inset;
	font-weight: bold;
	color: #F6F6F6;
	text-decoration: none;
	text-shadow: 0 1px 0px rgba(0,0,0,0.5);
	text-align: center;
}
a.download.independent:hover {
	background: rgb(152,108,255);
}
a.download.independent:active {
	padding: 1.35em 2em 0.8em;
	box-shadow: 0 0.35em 0 0 rgba(0,0,0,0.35) inset;
}
