@media all and (min-width: 1001px) {

/******************************* Layout Styles ********************************/


#header, #content > *, #footer {
	padding-left: 36px;
	padding-right: 36px;
}

#header .title {
	margin-bottom: 0.2em;
	float: left;
}
#content {
	padding-top: 4em;
}
.front-and-center {
	margin-top: 6em;
}


/******************************* Content Styles *******************************/



article p {
	text-align: justify;
}

/* Columnar elements */
.columnar {
	/* Default layout for browsers that don't support even and odd */
	float: left;
	width: 40%;
	padding: 0 5%;
}
.columnar:nth-child(odd) {
	float: left;
	width: 47.5%;
	width: calc(50% - 2em);
	padding: 0;
}
.columnar:nth-child(even) {
	float: right;
	width: 47.5%;
	width: calc(50% - 2em);
	padding: 0;
}

/* Project list */
.project-list li {
	position: relative;
	float: left;
	margin: 0;
	width: 50%;
	padding-bottom: 28.125%;
}
.project-list li a {
	position: absolute;
	display: block;
	width: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: width 300ms ease-out;
}
.project-list li a:hover {
	width: 88%;
}



/****************************** Navigation Styles *****************************/

}
