@media all and (min-width: 1001px) {

:root {
  --content-padding: 36px;
}

/******************************* Layout Styles ********************************/

#header .title {
	margin-bottom: 0.2em;
	float: left;
}
#content {
	padding-top: 4em;
}
.front-and-center {
	margin-top: 6em;
}


/******************************* Content Styles *******************************/



article p {
	text-align: justify;
}

/* Columnar elements */
.columnar {
  width: calc(50% - 2em);
  padding: 0;
}
.columnar:nth-child(odd) {
	float: left;
}
.columnar:nth-child(even) {
	float: right;
}

/* Project list */
.project-list li {
	width: calc(50% - var(--content-padding) / 2);
}
.project-list li:hover {
  transform: scale(1.05);
}



/****************************** Navigation Styles *****************************/

}
